{%extends 'base.html'%}

{%block content%}
 <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {%include "includes/search.html"%}
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/10d.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">

                                    <p>
                                        <span class="title">{{city_weather.city}}</span>
                                        <br>
                                        <span class="subtitle">{{city_weather.max_temp}}° C Max</span><br>
                                        <span class="subtitle">{{city_weather.min_temp}}° C Min</spa><br>
                                        <span class="subtitle">{{city_weather.average}}° C Average</span><br>
                                        <span class="subtitle">{{city_weather.median}}° C Median</span> <br>

                                        <br> {{city_weather.description}}
                                    </p>

                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endblock%}